<div id="truckAdding" class="container">
    <h1>أدرج شاحنة جديدة</h1>
    <form>
        <input type="text" class="input-field" id="matricule" placeholder="01254 012 39" name="matricule" required>
        <br>
        <select class="dropdown-field" id="username" name="username" required>
            <option value="" disabled selected>السائق</option>
            <option value="سائق 1">سائق 1</option>
            <option value="سائق 2">سائق 2</option>
            <option value="سائق 3">سائق 3</option>
        </select>
        <br>
        <select class="dropdown-field" id="typeName" name="typeName" required>
            <option value="" disabled selected>نوع الشاحنة</option>
            <option value="نوع 1">نوع 1</option>
            <option value="نوع 2">نوع 2</option>
            <option value="نوع 3">نوع 3</option>
        </select>
        <br>
        <button type="submit" class="button">إدراج</button>
    </form>
</div>