{% extends 'layoutWithBootstrap.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
{% endblock stylesheets %}
{% block body %}
{% include 'parts/nav.html' %}
{% include 'additions/flashMessages.html' %}

<div class="bg-light py-3 py-md-5" style="height: 100vh;">
  <div class="container" style="margin-top: 10vh;">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h1 class="text-center">تغيير كلمة المرور</h1>
              </div>
            </div>
          </div>
          <form method="POST">
            {{ changePasswordForm.hidden_tag() }}
            <div class="row g-3">

              <div class="col-md-12 field">
                {{ changePasswordForm.oldPassword.label(class="form-label") }}
                {% if changePasswordForm.oldPassword.errors %}
                {{ changePasswordForm.oldPassword(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in changePasswordForm.oldPassword.errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% else %}
                {{ changePasswordForm.oldPassword(class="form-control") }}
                {% endif %}
              </div>

              <div class="col-md-12 field">
                {{ changePasswordForm.newPassword.label(class="form-label") }}
                {% if changePasswordForm.newPassword.errors %}
                {{ changePasswordForm.newPassword(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in changePasswordForm.newPassword.errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% else %}
                {{ changePasswordForm.newPassword(class="form-control") }}
                {% endif %}
              </div>

              <div class="col-md-12 field">
                {{ changePasswordForm.confirmNewPassword.label(class="form-label") }}
                {% if changePasswordForm.confirmNewPassword.errors %}
                {{ changePasswordForm.confirmNewPassword(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in changePasswordForm.confirmNewPassword.errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% else %}
                {{ changePasswordForm.confirmNewPassword(class="form-control") }}
                {% endif %}
              </div>
            </div>
            {{ changePasswordForm.submit(class="btn btn-primary") }}
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}