body {
    background-color: #f0f0f0;
}

.dashboard {
    margin-top: 55px;
}

.list {
    background-color: rgba(0, 0, 0, 0.1);
}

#menu::before {
    top: -24px;
    left: 74px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;

}

/* ****************************** operation ******************************* */

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.alert-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.alert-item:hover {
    background-color: #eaeaea;
}

.alert-item .location {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.alert-item .status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.status-green {
    background-color: green;
}

.status-red {
    background-color: red;
}

/* ****************************** operation ******************************* */