:root {
    --primary: orange;
    --secondary: #ff8c00;
    --gray: #f8f9fa;
    --black-shadow: rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--gray);
}

.dashboard {
    margin-top: 55px;
}

.title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    max-height: calc(60vh - fit-content);
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--black-box-shadow);
    padding: 20px;
    overflow: hidden;
}

/* ****************************** operation ******************************* */

.alerts {
    height: 900px;
    max-height: 45vh;
    overflow: auto;
}

.alert-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.alert-item:hover {
    background-color: #eaeaea;
}

.alert-item .location {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.alert-item .status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.status-green {
    background-color: green;
}

.status-red {
    background-color: red;
}

/* ****************************** roleChangin ******************************* */

.items {
    height: 900px;
    max-height: 45vh;
    overflow: auto;
}

.item {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.item:hover {
    background-color: #f0f0f0;
}

.item-icon {
    font-size: 24px;
    margin-right: 10px;
}

.username {
    color: black;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.role {
    font-weight: bold;
    color: black;
}

/* ****************************** truckAdding ******************************* */

.input-field {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: right;
}

.dropdown-field {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: right;
}

.button {
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary);
}

/* ****************************** navbar from "home.css" ******************************* */

.list {
    background-color: var(--black-box-shadow);
}

#menu::before {
    top: -24px;
    left: 58px;
    border-color: transparent transparent var(--black-box-shadow) transparent;

}

/* ****************************** Tab from "login.css" ******************************* */

.formBtns {
    width: 90%;
    margin: auto;
}