<header>
    {% include 'parts/nav.html' %}
    {% include 'additions/flashMessages.html' %}
     <div class="video">
         <video autoplay loop muted id="video-background">
             <source src="{{ url_for('static', filename='videos/4.mp4') }}" type="video/mp4" id="videoSrc">
             Your browser does not support the video tag.
         </video>      
     </div>
     <div class="motto">
         <div class="headerText">
             <h1>نظام مكنسة لتأمين مدينتنا</h1>
             <p>الشركة نفسها هي شركة ناجحة جدا. الشخص المختار هو أن يفترضهم كما لو أن المعاناة ستتبع. ولكن بما أن عمل الاختيار والألم قد قيل، فسوف يحدث أن المهندس المعماري الذي يجد الآلام سوف يخفف بسبب العواقب.</p>
         </div>
         <div class="headerImage">
             <img src="{{ url_for('static', filename='images/3.webp') }}" alt="">
         </div>
     </div>
 </header>